<nav class="navbar navbar-expand-lg navbar-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#about">ABOUT <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#skills">SKILLS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#projects">PROJECTS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#projects">RESUME</a>
      </li>
    </ul>
  </div>
</nav>

<br>


<section class="info animated zoomInUp">

  <h1>SABEEH SHAH</h1>
  <p>Programmer | Developer</p>

</section>

<section id="about" class="about">
  <h2 style="color:white"><u>ABOUT</u></h2>
  <div class="section-dark">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cum rem nihil dolorem. Quaerat, ea vitae?
    Commodi ut consectetur vitae rem rerum voluptate architecto, delectus optio ad nobis error tempora sint veritatis
    recusandae exercitationem. Doloribus velit voluptatem libero, in est vitae hic nostrum vel deserunt, dicta
    accusamus. Vitae autem officiis error doloribus laboriosam consequuntur. At nulla adipisci temporibus! Laboriosam
    error, id, recusandae, esse libero debitis dolorem illo nemo atque omnis porro minus rerum iure. Fugit magnam
    debitis explicabo earum illo, consequuntur, labore similique nemo excepturi quod, numquam molestiae cum! Pariatur
    suscipit beatae expedita illum reprehenderit, quia fugit itaque repudiandae nobis.
  </div>
</section>

<section id="skills" class="about">
  <h2 style="color:white"><u>SKILLS</u></h2>
  <div class="section-dark">
    <div class="row">
      <div class="col skill">
        JQUERY
      </div>
      <div class="col skill">
        HTML
      </div>
      <div class="col skill">
        CSS
      </div>
      <div class="col skill">


        ANGULAR
      </div>
      <div class="col skill">

        FIREBASE
      </div>
      <div class="col skill">

        JAVA
      </div>
      <div class="col skill">

        MYSQL
      </div>
      <div class="col skill">

        JAVASCRIPT
      </div>

      <div class="col skill">

        SALESFORCE
      </div>
      <div class="col skill">

        AJAX
      </div>
      <div class="col skill">

        NODEJS
      </div>
      <div class="col skill">

        SPRING
      </div>
      <div class="col skill">

        SWIFT
      </div>
      <div class="col skill">

        OBJECTIVE-C
      </div>

    </div>


  </div>
</section>

<section id="projects" class="about">
  <h2 style="color:white"><u>PROJECTS</u></h2>
  <div class="section-dark">
    <div style="padding:20px 20px" class="row">
      <div id="project1"  class="col project">
        
          <a href="#" style="text-decoration:none;color:white"><h3 id="project3" style="text-align: center;">TEAMSCRIM</h3></a> 
        </div>
      <div id="project2"  class="col project">
          <a href="#" style="text-decoration:none;color:white"><h3 id="project3" style="text-align: center;">MISSISSAUGA DOLPHINS CRICKET(BETA)</h3></a> 
        </div>
      <div  class="col project">
       
          
       <a target="_blank" href="https://kbrugs.ca" style="text-decoration:none;color:white"><h3 id="project3" style="text-align: center;">KBRUGS</h3></a> 
       <p>E-Commerce store for Rugs. Built with Angular(6+) and Firestore. Google Cloud Functions
         for payment using Stripe API. Google Cloud Functions for custom emails using SendGrid API.
         Admin Panel designed for owner to manage orders and products with ease. Email/Password Authentication with Firestore.
       </p>
      </div>
    </div>
  </div>
</section>


<particles id="particles" [style]="myStyle" [width]="width" [height]="height" [params]="myParams">



</particles>
